* {
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.container {
    position: relative;
    height: 100%;
    width: 100%;
    background: #333;
}
.split {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
}
.split.left {
    left: 0;
    background-image: url(./ps5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.split.right {
    right: 0;
    background-image: url(./xbox.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}