* {
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
h1  {
    font-size: 4rem;
    font-weight: 100;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 20%;
    white-space: nowrap;
    transform: translateX(-50%);
    
}
.btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    text-decoration: none;
    color: #fff;
    border: solid #fff 0.1rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.5rem 1.5rem;
    margin-top: 6rem;
}
.split.left .btn:hover {
    background-color: rgba(87, 84,236, 1);
    border-color: rgba(87, 84,236, 1);
}
.split.right .btn:hover {
    background-color: rgba(28,128,28,1);
    border-color: rgba(28,128,28,1);
}
.container {
    position: relative;
    height: 100%;
    width: 100%;
    background: #333;
}
.split {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
}
.split.left {
    left: 0;
    background-image: url(./ps5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.split.left::before {
    content: '';
    background-color: rgba(87, 84,236, 0.7);
    position: absolute;
    width: 100%;
    height: 100%;
    
}
.split.right {
    right: 0;
    background-image: url(./xbox.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.split.right::before {
    content: '';
    background-color: rgba(43, 43,43, 0.7);
    position: absolute;
    width: 100%;
    height: 100%;

}
.hover-left .left {
    width: 75%;
}
.hover-left .right {
    width: 25%;
}
.hover-right .right {
    width: 75%;
}
.hover-right .left {
    width: 25%;
}
.split.right,
.split.right::before,
.split.left,
.split.left::before {
    transition: all 1000ms ease-in-out;
}